/* =======================
   Base Link Style
======================= */
a {
    display: block;
    padding: 20px;
    text-align: center;
    margin: 5px 0;
    text-decoration: none;
}

/* =======================
   Box Styles
======================= */
.box1 {
    background: lightgreen;
    color: red;
}

.box2 {
    background: gray;
    color: yellow;
}

.box3 {
    background: black;
    color: white;
}

/* =======================
   Link States (LVHA)
======================= */

/* visited */
a:visited {
    color: purple;
}

/* hover */
a:hover {
    color: blue;
}

/* active */
a:active {
    color: red;
}

h1 {
    background: #e6e2c3;
    color: green;
    padding: 15px;
    /* text-align: center; */
    /* font-weight: bold; */
    font-size: 32px;
}
body {
    margin: 20px;
    font-family: "Times New Roman", Times, serif;
}
p {
    font-size: 18px;
    margin: 10px 0;
}
.listing-title {
    background: #6aa5a5;
    color: white;
    padding: 15px;
    font-size: 32px;
}

.t1{
  margin: 0 auto;
  border: 2px solid #000;      
  padding: 3px;           
  font-family: "Times New Roman", Times, serif;
}

.t1 caption{
  text-align: center;
  font-weight: bold;
  font-size: 25px;  
  margin-bottom: 10px;
}

.t1 th, .t1 td{
  border: 1px solid #000;
  padding: 6px 10px;  
  text-align: center;
  font-size: 25px;   
}


.t2 caption{
  text-align: center;
  font-weight: normal;
  margin: 28px 0 10px;
  font-size: 22px;
  font-family: "Times New Roman", Times, serif;
}

.t2{
  margin: 0 auto;
  border-collapse: collapse;
  font-family: "Times New Roman", Times, serif;
  width: 60%;
}

.t2 th, .t2 td{
  border: 1px solid #666;
  padding: 10px 12px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.t2-img{
  width: 34%;
  padding: 0;
}

.t2-img img{
  display: block;
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.t2-head{
  font-weight: bold;
  font-size: 22px;
  line-height: 1.2;
}

.t2-head span{
  font-weight: bold;
  font-size: 20px;
}

.t2-rowhead{
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}




