<!DOCTYPE html>
<html>
<head>
    <title>Task 5</title>
      <style>
        table{
            border-collapse: collapse;
      
        }
    </style>
</head>
<body>
    <h1>Publishers with Highly Rated Books Count</h1>

    <table border="1">
        <tr>
            <th>Publisher Name</th>
            <th>Location</th>
            <th>Highly Rated Books Count</th>
        </tr>

        {% for publisher in publishers %}
        <tr>
            <td>{{ publisher.name }}</td>
            <td>{{ publisher.location }}</td>
            <td>{{ publisher.high_rated_count }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>