{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Links Page</title>

    <!-- ربط CSS -->
<link rel="stylesheet" href="{% static 'main.css' %}"></head>

<body>

    <!-- رابط 1 -->
    <a class="box1" href="https://qu.edu.sa" target="_blank">
        Go to QU website (open a new tab)
    </a>

    <!-- رابط 2 -->
    <a class="box2" href="https://qu.edu.sa">
        Go to QU website (open in the same page/tab)
    </a>

    <!-- رابط 3 -->
    <a class="box3" href="https://qu.edu.sa">
        Go to QU website (open in the same page/tab)
    </a>

</body>
</html>